#about.content.active {
    width: 100%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 450px;
    margin: 0 auto;

}

.sidebar h3 {
    font-size: 2rem;
}

.sidebar p {
    font-size: 1.2rem;
    text-align: justify;
}

.sidebar .tabs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar .tabs span {
    border: 2px solid transparent;
    text-align: center;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    border-radius: 5px;
    background: var(--secondary);
    transition: all linear 0.3s;
}

.sidebar .tabs span:hover {
    border-color: var(--green);
    cursor: pointer;
    color: var(--green);
}

.tab.active {
    border: 2px solid var(--green) !important;
    color: var(--green);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: inline-flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

aside h2 span {
    color: var(--green);
}

.experience-list,
.education-list, .my-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: auto;
    gap: 2rem;
    padding: 1rem;
    max-height: 300px;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow-y: auto;
    max-height: 300px;
    padding: 1rem;

}

.experience-list::-webkit-scrollbar,
.education-list::-webkit-scrollbar,.my-info::-webkit-scrollbar,
.skills-list::-webkit-scrollbar {
    width: 5px;

}

.experience-list::-webkit-scrollbar-thumb,
.education-list::-webkit-scrollbar-thumb,
.skills-list::-webkit-scrollbar-thumb, .my-info::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

.experience-box:hover,
.skill-box:hover {
    border-color: var(--green);
    box-shadow: 5px 5px 5px var(--green), -5px 5px 5px var(--green), 5px -5px 5px var(--green), -5px -5px 5px var(--green);
    transform: translateY(-5px);
}

.experience-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    border: 2px solid transparent;
    cursor: pointer;
    background: var(--secondary);
    transition: all linear 0.3s;
}

.experience-box h4 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.experience-box h3 {
    font-size: 1.3rem;
    color: var(--green);
    margin-bottom: 0.5rem;
}

.experience-box span {
    display: inline-block;
    color: var(--white);
    opacity: 0.8;
    margin-bottom: 1rem;
}

.experience-box p {
    text-align: justify;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.company-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.company-name span {
    border: 6px solid var(--green);
    border-radius: 50%;
}

.company-name p {
    font-size: 1rem;
}

.skill-box {
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid var(--disabled);
    background: var(--disabled);
    cursor: pointer;
    transition: all linear 0.3s;
}

.skill-box img {
    width: 4rem;
    height: auto;
}

.skill-box h3 {
    font-size: 0.9rem;
    margin: 0;
    white-space: normal;
}
.my-info{
    font-size: 1.3rem;
    font-weight: 800;
    display: grid;
    grid-template-columns: subgrid;

}
.info-box{
    display: grid;
}
.info-box span:first-child{
    color: var(--green);
}

@media (min-width:768px) {
    #about.content.active {
        grid-template-columns: repeat(7, 1fr);
        gap: 3rem;
    }

    .skill-box img {
        width: 4rem;

    }

    .skill-box h3 {
        font-size: 1.1rem;
    }

    .sidebar {
        grid-column: span 3;
    }

    .sidebar .tabs {
        gap: 1.5rem;
    }

    .tab-content.active {
        min-width: 100%;
        margin: 0;
        grid-column: span 4;
    }

    aside h2 {
        font-size: 3rem;
    }

    aside p {
        font-size: 1.3rem;
    }

    .experience-box h3 {
        font-size: 1.5rem;
    }

    .company-name p {
        font-size: 1.2rem;
    }

    .skills-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .my-info{
        grid-template-columns: repeat(2,1fr);
        font-size: 1.7rem;
        gap: 2rem 1rem;
    }
}

@media screen and (min-width: 1024px) {
    #about.tab-content.active {
        gap: 5rem;
    }

    .experience-box h3 {
        font-size: 1.8rem;
    }
}